{% extends 'generic/partials/partial_row.html' %}
{% block remaining_row_content %}
{% load extra_tags %}
<td>


    {{ object.message.text }}

   
</td>
<td>{{object.message.date}}</td>
    <td>
        {%if  perms.rapidsms.view_numbers %}
        {{ object.message.connection.identity }}
        {%else%}
        Redacted
        {%endif%}
    </td>

<td id="cat_{{ object.pk }}">
    
        {{ object.category }}

</td>
        <td>
            {% if object.trained_as %}
            Human
            {% else %}
              Machine
            {% endif %}


        </td>

        <td>{{object.action}}</td>
<td>



     <ul >

<li class="dropdown" id="menu1">
<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
Train As
<b class="caret"></b>
</a>
<ul class="dropdown-menu">
    {% for cat in categories %}
<li><a href="javascript:void(0)" onclick="train('{{ object.pk}}','{{ cat.pk }}')">{{ cat.name }}</a></li>
{% endfor %}
</ul>
</li>




</td>
{% endblock %}