{% extends "generic/base.html" %}

{% block title %}
    Message Classifier - {{ block.super }}
{% endblock %}
{% block stylesheets %}

    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}rapidsms/stylesheets/splits.css"/>
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}ureport/stylesheets/ureport.min.css?1"/>
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}rapidsms/stylesheets/modules.css"/>
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}rapidsms/stylesheets/icons.css"/>
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}contact/stylesheets/messages.css"/>
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}ureport/stylesheets/message_log.css"/>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}generic/stylesheets/jquery-ui-1.7.3.custom.css"/>
{#    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}message_classifier/stylesheets/rating.css">#}
    <style type="text/css">
        .star-rating {
            list-style: none;
            margin: 0px;
            padding: 0px;
            width: 100px;
            height: 20px;
            position: relative;
            background: url({{ MEDIA_URL }}ureport/images/star_rating2.gif ) top left repeat-x;
        }

        .star-rating li {
            padding: 0px;
            margin: 0px;
            /*\*/
            float: left;
            /* */
        }

        .star-rating li a {
            display: block;
            width: 20px;
            height: 20px;
            text-decoration: none;
            text-indent: -9000px;
            z-index: 20;
            position: absolute;
            padding: 0px;
        }

        .star-rating li a:hover {
            background: url({{ MEDIA_URL }}ureport/images/star_rating2.gif ) left bottom;
            z-index: 1;
            left: 0px;
            border: none;
        }

        .star-rating a.one-star {
            left: 0px;
        }

        .star-rating a.one-star:hover {
            width: 20px;
        }

        .star-rating a.two-stars {
            left: 20px;
        }

        .star-rating a.two-stars:hover {
            width: 40px;
        }

        .star-rating a.three-stars:hover {
            width: 60px;
        }

        .star-rating a.three-stars {
            left: 40px;
        }

        .star-rating a.four-stars {
            left: 60px;
        }

        .star-rating a.four-stars:hover {
            width: 80px;
        }

        .star-rating a.five-stars {
            left: 80px;
        }

        .star-rating a.five-stars:hover {
            width: 100px;
        }

        .star-rating a.rate5 {
            background: url({{ MEDIA_URL }}ureport/images/star_rating2.gif ) left bottom;
            z-index: 1;
            left: 0px;
            border: none;
            width: 100px;
        }

        .star-rating a.rate4 {
            background: url({{ MEDIA_URL }}ureport/images/star_rating2.gif ) left bottom;
            z-index: 1;
            left: 0px;
            border: none;
            width: 80px;
        }

        .star-rating a.rate3 {
            background: url({{ MEDIA_URL }}ureport/images/star_rating2.gif ) left bottom;
            z-index: 1;
            left: 0px;
            border: none;
            width: 60px;
        }

        .star-rating a.rate2 {
            background: url({{ MEDIA_URL }}ureport/images/star_rating2.gif ) left bottom;
            z-index: 1;
            left: 0px;
            border: none;
            width: 40px;
        }
        .current a{
            background-color: #ccc;
        }

        .star-rating a.rate1 {
            background: url({{ MEDIA_URL }}ureport/images/star_rating2.gif ) left bottom;
            z-index: 1;
            left: 0px;
            border: none;
            width: 20px;
        }
    </style>
{% endblock %}
{% block extra_js %}


    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}ureport/stylesheets/jquery-ui.css"/>
    <script type="text/javascript" src="{{ MEDIA_URL }}ureport/javascripts/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}ureport/javascripts/dropdown.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}ureport/javascripts/tabs.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}generic/javascripts/dashboard.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}generic/javascripts/generic.js"></script>
    <script src="{{MEDIA_URL}}ureport/javascripts/mp_dashboard.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function() {
            $("#id_startdate").datepicker({ dateFormat: 'dd/mm/yy' ,changeYear: true ,changeMonth: true,minDate: new Date(2009, 1 - 1, 1) });
            $("#id_enddate").datepicker({ dateFormat: 'dd/mm/yy' ,changeYear: true ,changeMonth: true,minDate: new Date(2009, 1 - 1, 1) });

            $("#queue_form")
                       .bind('ajax:success', function(data, status, xhr) {
                        var $form = $(this);

                        // Reset fields and any validation errors, so form can be used again, but leave hidden_field values intact.
                        $form.find('textarea,input[type="text"],input[type="file"]').val("");
                        // Insert response partial into page below the form.
                        $('#comments').append(xhr.responseText);
                    })
                    .bind('ajax:failure', function(xhr, status, error) {
                        alert("something went wrong!");
                    });

            $('#msg_upload_form').submit(function() {

                ajax_loading('#upload');
                $('#msg_upload_form').attr('target', 'upload_target');


            });


            $('#poll_upload_form').submit(function() {

                            ajax_loading('#poll_upload');
                           $('#poll_upload_form').attr('target', 'upload_target2');



                       });



        });

        function filter(elem) {
            form = $(elem).parents("form");
            form_data = form.serializeArray();
            $('#div_results_loading').show();
            $('#object_list').load("./", form_data, function() {
                $('#div_results_loading').hide();
            });
        }


        function bind_ajax(elem, cont) {

            form=$(elem);
            $.ureport.handleRemote( form );
            $(elem).bind('ajax:before',function (exhr, status, error) {
                ajax_loading(elem);
            }).
                    bind('ajax:success', function (evt, data, status, xhr) {

                        // Insert response partial into page below the form.

                        $('#' + cont).html(xhr.responseText);
                        $('#'+cont).effect("highlight", {}, 3000);
                        $('.ajax_loading').remove();


                    })
                    .bind('ajax:failure', function (xhr, status, error) {
                        alert("something went wrong!");
                    });
        }


    </script>

{% endblock %}

{% block content %}

    <div class="ibm_logo" style="float: right; font-weight: bold; font-size: 18px; color: #00aeef">Powered by Text Analytics from IBM Research</div>
    <br style="clear: both"/>
    
    <div>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#download" data-toggle="tab">Queue Download</a></li>
            <li><a href="#category" data-toggle="tab">add Action</a></li>
            <li><a href="#category_edit" data-toggle="tab">Edit Action</a></li>
        </ul>
    </div>
    <div>
        <div class="tab-content">

            <div class="tab-pane active" id="download">
                  <form action="" method="POST" data-remote=true id="queue_form">
                <table>
                    <tr>
                        <td>Select Date range for messages to queue for download</td>

                    </tr>


                        {{ msg_form.as_table }}
                        <tr>
                            <td><input type="submit" name="Queue download" value="Queue download" data-disable-with="Queueing......"></td>
                        </tr>



                </table>
                      </form>
            </div>



            <div class="tab-pane" id="category">
                <h2>Add new Action</h2>
                <form method="Post" action="">
                <table>

                        {{ action_form.as_table }}
                        <tr>
                            <td><a class="btn" href="javascript:void(0)" onclick="">Add Category</a></td>
                            <td><a href="{%  url flaggedmessages %}">Manage Category Flags</a></td>
                        </tr>

                </table>

                </form>
            </div>

            <div class="tab-pane" id="category_edit">
                <h2>Actions</h2>

                <table width="50%">

                    {% for action in ibm_actions %}
                        <tr>
                            <td>{{ action }}</td>
                            <td><a class="btn" id="cat_{{ action.action_id }}" href="javascript:void(0)"
                                   onclick="edit_category('{{ action.action_id }}')">Edit</a></td>
                        </tr>
                    {% endfor %}
                </table>

                <div id="edit_category" style="float:right;margin-top:-280px;">
                    &nbsp;
                </div>



            </div>

        </div>



    </div>


    {{ block.super }}
{% endblock %}
