    .star-rating {
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 100px;
    height: 20px;
    position: relative;
    background: url(/static/ureport/images/star_rating2.gif ) top left repeat-x;
}

.star-rating li {
    padding: 0px;
    margin: 0px;
    /*\*/
    float: left;
    /* */
}

.star-rating li a {
    display: block;
    width: 20px;
    height: 20px;
    text-decoration: none;
    text-indent: -9000px;
    z-index: 20;
    position: absolute;
    padding: 0px;
}

.star-rating li a:hover {
    background: url(/static/ureport/images/star_rating2.gif ) left bottom;
    z-index: 1;
    left: 0px;
    border: none;
}

.star-rating a.one-star {
    left: 0px;
}

.star-rating a.one-star:hover {
    width: 20px;
}

.star-rating a.two-stars {
    left: 20px;
}

.star-rating a.two-stars:hover {
    width: 40px;
}

.star-rating a.three-stars:hover {
    width: 60px;
}

.star-rating a.three-stars {
    left: 40px;
}

.star-rating a.four-stars {
    left: 60px;
}

.star-rating a.four-stars:hover {
    width: 80px;
}

.star-rating a.five-stars {
    left: 80px;
}

.star-rating a.five-stars:hover {
    width: 100px;
}

.star-rating a.rate5 {
    background: url(/static/ureport/images/star_rating2.gif ) left bottom;
    z-index: 1;
    left: 0px;
    border: none;
    width: 100px;
}

.star-rating a.rate4 {
    background: url(/static/ureport/images/star_rating2.gif ) left bottom;
    z-index: 1;
    left: 0px;
    border: none;
    width: 80px;
}

.star-rating a.rate3 {
    background: url(/static/ureport/images/star_rating2.gif ) left bottom;
    z-index: 1;
    left: 0px;
    border: none;
    width: 60px;
}

.star-rating a.rate2 {
    background: url(/static/ureport/images/star_rating2.gif ) left bottom;
    z-index: 1;
    left: 0px;
    border: none;
    width: 40px;
}
.current a{
    background-color: #ccc;
}

.star-rating a.rate1 {
    background: url(/static/ureport/images/star_rating2.gif ) left bottom;
    z-index: 1;
    left: 0px;
    border: none;
    width: 20px;
}